@forward 'donnation.scss';
@use 'colors' as *;


:root {
  font-size: 10px;
}


body {
  background-color: $cream;
  padding-left: 5rem;
  padding-right: 5rem;
}

nav{
  border-radius: 30px;
  
  .nav-item {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: $cream;
  }
}

.hero {
  h2 {
    color: $pink;
  
  }
}

.event {
  margin-top: 15rem;
  
  h3 {
    color: $pink;
    font-size: 2rem;
    font-weight: 500;
  }
}

.actions{
  margin-top: 8rem;
  padding-top: 11rem;
  padding-bottom: 11rem;
  
  h2{
    color: $pink;
    padding-left: 7rem;
    padding-right: 7rem;
    font-weight: 500
  }

  h4 {
    color: $dark-pink;
    font-size: 2rem;
    font-weight: 500;
  }
}

.contact {
  padding-top: 11rem;
  padding-bottom: 5rem;

  
  .contact-text{
    padding-top: 10rem;
    
    h4 {
      color: $dark-pink;
      font-size: 2rem;
      font-weight: 500;
    }
    p {
      color: $dark-pink;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .contact__form {
    position: relative;
    &__form {
      position: absolute;
      top: 40%;
      left: 25%;
    }
  }
}

footer {

  .icons{
    display: flex;
    justify-content: center;
    color: $dark-pink;
    margin-bottom: 2rem;
    i{
      padding: 1rem;
    }
  }
  .nav-item {
    padding-right: 2rem;
    .nav-link {
      color: $dark-pink;
      font-size: 1.2rem;
    }
  }
  p {
    color: $dark-pink;
  }
}

.btn-1 {
  background: $dark-pink;
  border-radius: 25px;
  border: 2px solid $dark-pink;
  text-transform: uppercase;
  padding: .5rem 2rem;
  min-width: 20rem;
  cursor: pointer;
}

.btn-1:hover {
  color: $dark-pink;
}

.btn-1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $cream;
  z-index: -1;
  transition: transform 0.5s;
transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-1::before{
  transform: scaleX(0);
}
.btn-1:hover::before{
  transform: scaleX(1);
}

.btn-pink {
  background-color: $pink;
  height: 5rem;
  width: auto;
  border-radius: 25px;
  padding: .5rem 2rem;
  font-size: 2rem;
  color: $cream;
}

.btn-white {
  background-color: $cream;
  height: 5rem;
  width: auto;
  border-radius: 25px;
  padding: .5rem 2rem;
  font-size: 2rem;
  color: $dark-pink;
}

.bg-pink {
background-color: $light-pink;
}

section .animate{
  transition: transform 3s;
  overflow-x: hidden;
  filter: blur(1px);
}

.sec-1 .animate {
  transform: translateX(-200%);
}

.sec-1.show-animate .animate {
  transform: translateX(0);
  filter: blur(0);
}

.sec-2 .animate-r {
  transform: translateX(200%);
  transition: transform 1.5s;
  overflow-x: hidden;
}

.sec-2.show-animate .animate-r {
  transform: translateX(0);
}

.sec-2 .animate-l {
  transform: translateX(-200%);
  transition: transform 1.5s;
  overflow-x: hidden;
}

.sec-2.show-animate .animate-l {
  transform: translateX(0);
}

.sec-3 .animate {
  transform: scale(.7);
}

.sec-3.show-animate .animate {
  transform: scale(1);
  filter: blur(0);  
}